@font-face {
    font-family: 'Effra-Bold';
    src: local('Effra Bold'), local('Effra-Bold'),
        url('Effra-Bold.woff2') format('woff2'),
        url('Effra-Bold.woff') format('woff'),
        url('Effra-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }